body {
  padding: 0;
  margin: 0;
  background-color: #FFD1D4;
  font-family: Helvetica, Arial, sans-serif;
}

@import "base/variables";

// Components
@import "components/flex";
@import "components/building";
