* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  color: black;
  background-color: $cream;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  .parent {
    border: 2px solid $white;
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .item {
      width: 100px;
      height: 100px;
      background: $mint;
    }
    .rhs {
      display: flex;
      justify-content: flex-end;
      .gap {
        margin: 0 0 0 1rem;
      } // end item-3
    } // end rhs
  } // end parent
} // end container
