* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  color: $white;
  background-color: #5995DA;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  .parent {
    border: 1px solid $white;
    width: 800px;
    display: flex;
    justify-content: space-around;
    .rhs {
      display: flex;
      justify-content: flex-end;
      .item-3 {
        margin: 0 0 0 3rem;
      } // end item-3
    } // end rhs
  } // end parent
} // end container
