.plant {
  margin: 90% 0 0 20%;
  .petals {
    z-index: 2;
    .petal {
      width: 16px;
      height: 16px;
      background: $purple;
      border-radius: 0 80%;
    }
    .petal-1 {
      margin-top: 20%;
    }
    .petal-2 {
      transform: rotate(10deg);
      margin-top: 10%;
    }
    .petal-3 {
      transform: rotate(90deg);
      display: none;
    }
    .petal-4 {
      transform: rotate(120deg);
      display: none
    }
    .petal-5 {
      transform: rotate(180deg);
      display: none
    }
    .petal-6 {
      transform: rotate(200deg);
      display: none
    }
  }
  .flower-mid {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: $yellow;
    margin: 0 0 0 12%;
    z-index: 1;
  }
  .stem {
    width: 4px;
    height: 80px;
    background: $green;
    border-radius: 10px;
    margin: 0 0 0 18%;
  }
  .leaf {
    width: 16px;
    height: 16px;
    background: $green;
    border-radius: 0 80%;
  }
  .leaf-1 {
    transform: rotate(-3deg);
    margin: -74% 0 0 0;
  }
  .leaf-2 {
    transform: rotate(100deg);
    margin: 0 0 0 23%;
  }
  .leaf-3 {
    transform: rotate(-3deg);
  }
  @media only screen and (max-width: 1200px) {
    margin: 60% 0 0 20%; // fixes plant stem position
  }
  @media only screen and (max-width: 1024px) {
    margin: 40% 0 0 20%; // fixes plant stem position
  }
  @media only screen and (max-width: 768px) {
  }
  @media only screen and (max-width: 640px) {
  }
}
