@charset "UTF-8";
body {
  padding: 0;
  margin: 0;
  background-color: #FFD1D4;
  font-family: Helvetica, Arial, sans-serif;
}

#🏡 {
  margin-top: 14%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  color: black;
  background-color: #FEF8EE;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.container .parent {
  width: 800px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.container .parent .item {
  width: 100px;
  height: 100px;
  background: #C8E8DE;
}
.container .parent .rhs {
  display: flex;
  justify-content: flex-end;
}
.container .parent .rhs .gap {
  margin: 0 0 0 1rem;
}

.building-container {
  display: flex;
  justify-content: center;
}
.building-container .building-parent {
  width: 1000px;
  height: 300px;
  background-color: #C8E8DE;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.building-container .building-parent .window {
  width: 100px;
  height: 250px;
  background-color: #FEF8EE;
}
.building-container .building-parent .window .plant {
  margin: 90% 0 0 10%;
}
.building-container .building-parent .window .plant .stem {
  width: 4px;
  height: 60px;
  background: #A3EE9C;
  border-radius: 10px;
  margin: 0 0 0 16%;
}
.building-container .building-parent .window .plant .leaf {
  width: 16px;
  height: 16px;
  background: #A3EE9C;
  border-radius: 0 80%;
}
.building-container .building-parent .window .plant .leaf-1 {
  transform: rotate(-3deg);
}
.building-container .building-parent .window .plant .leaf-2 {
  transform: rotate(100deg);
  margin: -50% 0 0 23%;
}
@media only screen and (max-width: 1200px) {
  .building-container .building-parent {
    max-width: 700px;
  }
}
@media only screen and (max-width: 1024px) {
  .building-container .building-parent {
    max-width: 600px;
    height: 400px;
  }
  .building-container .building-parent .window {
    width: 80px;
    height: 150px;
  }
  .building-container .building-parent .window .leaf-2 {
    margin-left: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .building-container .building-parent {
    max-width: 500px;
    height: 450px;
  }
}
@media only screen and (max-width: 640px) {
  .building-container .building-parent {
    max-width: 300px;
    height: 500px;
  }
}

.roof-container {
  display: flex;
  justify-content: center;
}
.roof-container .roof {
  border-style: solid;
  border-width: 0 500px 110px 500px;
  border-color: transparent transparent #FF87BD transparent;
}
@media only screen and (max-width: 1200px) {
  .roof-container .roof {
    border-width: 0 350px 110px 350px;
  }
}
@media only screen and (max-width: 1024px) {
  .roof-container .roof {
    border-width: 0 300px 110px 300px;
  }
}
@media only screen and (max-width: 768px) {
  .roof-container .roof {
    border-width: 0 250px 110px 250px;
  }
}
@media only screen and (max-width: 640px) {
  .roof-container .roof {
    border-width: 0 150px 110px 150px;
  }
}

/*# sourceMappingURL=style.css.map */
